[submodule ".bash"]
	path = .bash
	url = git://github.com/thomhastings/bashrc.git
[submodule ".screen"]
	path = .screen
	url = https://github.com/thomhastings/screenrc.git
[submodule ".vim"]
	path = .vim
	url = git://github.com/thomhastings/vimrc.git
[submodule ".irssi"]
	path = .irssi
	url = https://github.com/tlvince/irssi-config.git
[submodule ".zshrc"]
	path = .zshrc
	url = https://github.com/thomhastings/zshrc
